/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 28px 40px;
}

/* Header */
.header {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #e0e6ea;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 200px;
  height: 39px;
  /* margin-right: 10px; */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: #333;
  font-weight: 700;
}

.account-btn {
  border: 2px solid #646e7a;
  height: 40px;
  width: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  font-size: 14px;
  color: #333;
  font-weight: 700;
}

/* Checkout Container */
.checkout-container {
  display: grid;
  margin-top: 90px;
  grid-template-columns: 2fr 1fr;
  /* Form takes more space */
  /* gap: 20px; */
  max-width: 900px;

  background: white;
  border-radius: 8px;
  box-shadow: 0px 5px 15px 0px #0000000d;

  overflow: hidden;
}

/* Left Side: Checkout Form */
.checkout-form {
  padding-bottom: 46px;
}
form section {
  border-bottom: 2px solid #f5f7fa;
  padding: 34px;
}

.checkout-container h2 {
  font-size: 24px;
  padding: 48px 41px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  border-bottom: 2px solid #f5f7fa;
}

.section-title {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: -0.1599999964237213px;
  color: #1d2c3c;
  grid-column: span 2;
}

.section-title span {
  color: #007bff;
  font-size: 20px;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  border: 2px solid #548bc5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

label {
  font-size: 14px;
  font-weight: 600;
}

.form-item {
  display: grid;
  gap: 10px;
}
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.email-row {
  grid-column: span 2;
  display: grid;
  gap: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #edeff2;
  border-radius: 5px;
  font-size: 14px;
}
input[type="email"] {
  max-width: 390px;
}
.payment-row {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.3fr;
  background-color: #edeff2;
  border-radius: 5px;
  overflow: hidden;
}

.payment-container {
  border-top: 2px solid #f5f7fa;
  border-bottom: 2px solid #f5f7fa;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.buy-btn {
  width: 100%;
  padding: 12px;
  background-color: #038e7d;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 39px;
  margin-bottom: 23px;
  width: 483px;
  height: 52px;
}

.buy-btn:hover {
  background-color: #006400;
}

.footer-text {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

b {
  color: black;
}

.footer-text span {
  max-width: 303px;
  color: #646e7a;
}

.qmark {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 2px solid #548bc5;
  color: #548bc5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Right Side: Summary Panel */
.checkout-summary {
  background-color: #1179bf;
  color: white;
  padding: 30px 46px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.checkout-summary h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.009999999776482582px;
  text-align: left;
}

.checkout-summary p {
  font-size: 14px;
  margin: 5px 0;
}

.price-container {
  display: flex;
  align-items: baseline;
  position: relative;
  font-weight: 700;
}
.price {
  padding-left: 20px;
  font-size: 60px;
  font-weight: 300;
  line-height: 72px;
}

.currency,
.sub {
  font-size: 20px;
}

.renewal {
  font-size: 16px;
}

.sup {
  position: absolute;
  top: 15px;
}

.benefits li {
  list-style: none;
  margin: 5px 0;
}

.benefits li::before {
  content: "✔";
  margin-right: 8px;
  color: white;
}

.switch-plan {
  color: white;
  text-decoration: underline;
  display: inline-block;
}

.testimonial {
  margin-top: 41px;
  padding-top: 43px;
  border-top: 2px solid white;
  display: grid;
  gap: 10px;
}

.testimonial p {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.008999999612569809px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.testimonial b {
  color: white;
}

.testifier {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.testifier img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
}
/* Footer */
.footer {
  text-align: center;
  font-size: 12px;
  color: #555;
  margin-top: 20px;
}

.footer a {
  text-decoration: none;
  color: #007bff;
}
