*,
*::before,
*::after {
  font-family: "Lato", sans-serif;
}
body {
  background-color: azure;
}
section {
  padding: 128px 32px;
  align-items: center;
  text-align: center;
}
h1,
h3 {
  color: rgb(68, 16, 114);
  font-size: 2rem;
  margin-bottom: 32px;
}
a {
  border: gray;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
}
